.paginator-root {
  --p-paginator-background: transparent;
  --p-paginator-nav-button-border-radius: 2px;
  --p-paginator-nav-button-height: 30px;
  --p-paginator-nav-button-width: 30px;
  --p-paginator-gap: 4px;
  --p-paginator-padding: 4px 0;
}
