.p-multiselect.multi-select-root {
  width: var(--form-element-width);

  .select-count-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;

    .select-count {
      color: red;
    }
  }
}
